* {
  margin: 0;
  padding: 0;
}

body {
  /* padding: 500px; */

  background: linear-gradient(-45deg, #fa8b69, #f186af, #6dc7e7, #23d5ab);
  background-size: 700% 700%;
  animation: gradient 5s ease infinite;
  height: 100%;
  width: 100%;
  color: rgb(14, 14, 13);
  font-style: Garamond;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: Arial;
  font-size: 18px;
  line-height: 26px;
}
h1 {
  margin-bottom: 40px;
  line-height: 42px;
}
p {
  margin-bottom: 40px;
}
.container {
  width: 80%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.align-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 400px;
}
.header {
  padding: 10px;
}

.main,
.footer {
  padding: 30px;
}
.header {
  background-color: #edc7a3;
  overflow: hidden;
}
.header .logo img {
  /* margin-left: 10px; */
  height: 150px;
  /* box-sizing: border-box; */
  
}
.header .logo,
.header .contacts {
  display: inline-block;
  vertical-align: middle;
}
.header .contacts {
  /* margin-left: 20px; */
  float: right;
}
.header .contacts h3 {
  margin-bottom: 20px;
  text-align: right;
}
.header .contacts p {
  margin-bottom: 0px;
}
.header .contacts p span {
  font-weight: bold;
  font-size: 20px;
}
.navigation {
  background-color: rgb(236, 228, 113);
}
.navigation ul {
  list-style: none; /*Отмена маркеров*/
}
.navigation li {
  display: inline-block;
}
.navigation a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
}
.navigation a:hover {
  background-color: #edc7a3;
  color: rgb(19, 58, 0);
}
.main .gallery_list {
  background-color: #ededed;
  padding: 20px 20px 20px 20px;
}
.main .gallery_list img {
  width: calc(25% - 20px - 4px);
  margin: 10px;
}
.main .contact_form .field {
  margin-bottom: 20px;
}
.main .contact_form input {
  font-size: 18px;
  padding: 10px 20px;
}
.main .contact_form .button {
  border: 0;
  background-color: #1baa16;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}
